.circulo{
    height: 50px;
    width: 50px;
    background: lightblue;
    color: azure;
}
.smbraExt{
    box-shadow: 0px 0px 15px white;
}
.msj{
    font-size: 17px;
}
.hg{
    height: 400px;
    overflow-y: scroll;
}
.bd{
    height: stretch;
}